<a href="https://colab.research.google.com/github/2303a52429/STATML-Assignment_2303A52429/blob/main/203a52429_assignment_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
df = pd.read_csv("/content/train.csv")
#print(df)
#1
target = df.columns[-1]
y=df[target]
print(y)
cf =df.drop('price_range',axis=1) # Use 'df' instead of 'data'
print(cf)

#2
bf = cf-cf.min()/(cf.max()-cf.min())
print(bf)
#3
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(bf,y,test_size=0.2) # Use column names 'cf' to select features

0       1
1       2
2       2
3       2
4       1
       ..
1995    0
1996    2
1997    3
1998    0
1999    3
Name: price_range, Length: 2000, dtype: int64
      battery_power  blue  clock_speed  dual_sim  fc  four_g  int_memory  \
0               842     0          2.2         0   1       0           7
1              1021     1          0.5         1   0       1          53
2               563     1          0.5         1   2       1          41
3               615     1          2.5         0   0       0          10
4              1821     1          1.2         0  13       1          44
...             ...   ...          ...       ...  ..     ...         ...
1995            794     1          0.5         1   0       1           2
1996           1965     1          2.6         1   0       0          39
1997           1911     0          0.9         1   1       1          36
1998           1512     0          0.9         0   4       1          46
1999            510     1          2.0         1   5       1          45

      m_dep  mobile_wt  n_cores  pc  px_height  px_width   ram  sc_h  sc_w  \
0       0.6        188        2   2         20       756  2549     9     7
1       0.7        136        3   6        905      1988  2631    17     3
2       0.9        145        5   6       1263      1716  2603    11     2
3       0.8        131        6   9       1216      1786  2769    16     8
4       0.6        141        2  14       1208      1212  1411     8     2
...     ...        ...      ...  ..        ...       ...   ...   ...   ...
1995    0.8        106        6  14       1222      1890   668    13     4
1996    0.2        187        4   3        915      1965  2032    11    10
1997    0.7        108        8   3        868      1632  3057     9     1
1998    0.1        145        5   5        336       670   869    18    10
1999    0.9        168        6  16        483       754  3919    19     4

      talk_time  three_g  touch_screen  wifi
0            19        0             0     1
1             7        1             1     0
2             9        1             1     0
3            11        1             0     0
4            15        1             1     0
...         ...      ...           ...   ...
1995         19        1             1     0
1996         16        1             1     1
1997          5        1             1     0
1998         19        1             1     1
1999          2        1             1     1

[2000 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
0        841.665331   0.0          2.0       0.0   1.0     0.0    6.967742
1       1020.665331   1.0          0.3       1.0   0.0     1.0   52.967742
2        562.665331   1.0          0.3       1.0   2.0     1.0   40.967742
3        614.665331   1.0          2.3       0.0   0.0     0.0    9.967742
4       1820.665331   1.0          1.0       0.0  13.0     1.0   43.967742
...             ...   ...          ...       ...   ...     ...         ...
1995     793.665331   1.0          0.3       1.0   0.0     1.0    1.967742
1996    1964.665331   1.0          2.4       1.0   0.0     0.0   38.967742
1997    1910.665331   0.0          0.7       1.0   1.0     1.0   35.967742
1998    1511.665331   0.0          0.7       0.0   4.0     1.0   45.967742
1999     509.665331   1.0          1.8       1.0   5.0     1.0   44.967742

         m_dep   mobile_wt   n_cores    pc  px_height     px_width  \
0     0.488889  187.333333  1.857143   2.0       20.0   755.666222
1     0.588889  135.333333  2.857143   6.0      905.0  1987.666222
2     0.788889  144.333333  4.857143   6.0     1263.0  1715.666222
3     0.688889  130.333333  5.857143   9.0     1216.0  1785.666222
4     0.488889  140.333333  1.857143  14.0     1208.0  1211.666222
...        ...         ...       ...   ...        ...          ...
1995  0.688889  105.333333  5.857143  14.0     1222.0  1889.666222
1996  0.088889  186.333333  3.857143   3.0      915.0  1964.666222
1997  0.588889  107.333333  7.857143   3.0      868.0  1631.666222
1998 -0.011111  144.333333  4.857143   5.0      336.0   669.666222
1999  0.788889  167.333333  5.857143  16.0      483.0   753.666222

              ram       sc_h  sc_w  talk_time  three_g  touch_screen  wifi
0     2548.931587   8.642857   7.0  18.888889      0.0           0.0   1.0
1     2630.931587  16.642857   3.0   6.888889      1.0           1.0   0.0
2     2602.931587  10.642857   2.0   8.888889      1.0           1.0   0.0
3     2768.931587  15.642857   8.0  10.888889      1.0           0.0   0.0
4     1410.931587   7.642857   2.0  14.888889      1.0           1.0   0.0
...           ...        ...   ...        ...      ...           ...   ...
1995   667.931587  12.642857   4.0  18.888889      1.0           1.0   0.0
1996  2031.931587  10.642857  10.0  15.888889      1.0           1.0   1.0
1997  3056.931587   8.642857   1.0   4.888889      1.0           1.0   0.0
1998   868.931587  17.642857  10.0  18.888889      1.0           1.0   1.0
1999  3918.931587  18.642857   4.0   1.888889      1.0           1.0   1.0

[2000 rows x 20 columns]

In [3]:
#3
print(x_train)
print(x_test)
print(y_train)
print(y_test)

      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
40      1346.665331   0.0          2.7       0.0   5.0     0.0   43.967742
1783    1250.665331   0.0          0.3       1.0  10.0     1.0   28.967742
1477    1149.665331   1.0          2.5       0.0   0.0     0.0   38.967742
1612    1603.665331   0.0          1.0       0.0   1.0     0.0    5.967742
1970    1912.665331   1.0          1.6       0.0   0.0     0.0   28.967742
...             ...   ...          ...       ...   ...     ...         ...
784     1891.665331   1.0          0.5       0.0   5.0     0.0   46.967742
561     1228.665331   0.0          0.3       1.0  15.0     0.0   13.967742
139      522.665331   0.0          2.4       1.0   1.0     0.0   13.967742
1555    1109.665331   0.0          0.4       0.0   1.0     0.0   41.967742
435      953.665331   1.0          0.3       0.0   0.0     0.0   49.967742

         m_dep   mobile_wt   n_cores    pc  px_height     px_width  \
40    0.488889  131.333333  0.857143  14.0      434.0   966.666222
1783  0.588889  132.333333  5.857143  16.0      308.0   590.666222
1477  0.288889  150.333333  7.857143   1.0      397.0   799.666222
1612  0.388889  190.333333  5.857143  15.0       68.0  1041.666222
1970  0.488889  110.333333  4.857143   4.0      675.0   741.666222
...        ...         ...       ...   ...        ...          ...
784   0.288889  109.333333  3.857143  10.0     1399.0  1563.666222
561   0.688889  190.333333  1.857143  16.0      120.0  1877.666222
139  -0.011111  154.333333  7.857143   2.0      304.0  1041.666222
1555  0.788889  191.333333  4.857143   2.0     1179.0  1261.666222
435   0.188889  133.333333  1.857143  11.0      228.0  1057.666222

              ram       sc_h  sc_w  talk_time  three_g  touch_screen  wifi
40    2483.931587  17.642857   2.0  10.888889      1.0           0.0   1.0
1783  1051.931587  10.642857   9.0  10.888889      1.0           0.0   0.0
1477   998.931587   5.642857   2.0  10.888889      1.0           1.0   0.0
1612  3563.931587   6.642857   2.0   1.888889      1.0           1.0   0.0
1970  2022.931587  16.642857  13.0   7.888889      1.0           1.0   0.0
...           ...        ...   ...        ...      ...           ...   ...
784   2171.931587  16.642857  14.0   2.888889      1.0           1.0   1.0
561   1666.931587  16.642857   6.0  16.888889      0.0           0.0   1.0
139   1426.931587   8.642857   1.0   8.888889      0.0           1.0   0.0
1555   455.931587  11.642857   8.0  17.888889      1.0           1.0   0.0
435    437.931587  16.642857   0.0   1.888889      1.0           0.0   0.0

[1600 rows x 20 columns]
      battery_power  blue  clock_speed  dual_sim    fc  four_g  int_memory  \
565     1270.665331   1.0          0.3       0.0  12.0     0.0   31.967742
253      834.665331   0.0          0.9       1.0   2.0     0.0    6.967742
1887    1718.665331   1.0          1.9       1.0   0.0     0.0   51.967742
1566    1316.665331   0.0          1.3       0.0   6.0     0.0   11.967742
346      575.665331   1.0          2.6       0.0   2.0     1.0    9.967742
...             ...   ...          ...       ...   ...     ...         ...
927      958.665331   1.0          1.5       0.0  15.0     0.0   12.967742
1607     743.665331   0.0          1.5       1.0   0.0     1.0   32.967742
1527    1836.665331   0.0          0.8       1.0   5.0     1.0   11.967742
1169     762.665331   1.0          0.3       0.0   9.0     1.0   50.967742
366      507.665331   0.0          1.4       1.0   0.0     0.0    8.967742

         m_dep   mobile_wt   n_cores    pc  px_height     px_width  \
565  -0.011111  112.333333  6.857143  15.0     1350.0  1948.666222
253   0.088889  100.333333  3.857143   7.0      323.0  1603.666222
1887 -0.011111  186.333333  2.857143   1.0      417.0   519.666222
1566 -0.011111  153.333333  1.857143   9.0      431.0   541.666222
346   0.088889  183.333333  4.857143   7.0      513.0  1437.666222
...        ...         ...       ...   ...        ...          ...
927   0.288889  154.333333  3.857143  16.0       87.0   735.666222
1607  0.388889  104.333333  3.857143   2.0     1252.0  1962.666222
1527  0.788889  102.333333  7.857143   6.0     1420.0  1538.666222
1169  0.188889  103.333333  4.857143  12.0      273.0  1277.666222
366   0.288889  161.333333  5.857143   2.0     1419.0  1919.666222

              ram       sc_h  sc_w  talk_time  three_g  touch_screen  wifi
565    444.931587  14.642857  14.0  13.888889      0.0           0.0   1.0
253   1180.931587  12.642857   5.0  14.888889      1.0           1.0   1.0
1887  2609.931587   9.642857   1.0  10.888889      1.0           1.0   1.0
1566   424.931587   6.642857   0.0  10.888889      1.0           1.0   1.0
346   2937.931587   5.642857   0.0   4.888889      1.0           1.0   1.0
...           ...        ...   ...        ...      ...           ...   ...
927   3327.931587   9.642857   9.0   9.888889      1.0           1.0   1.0
1607  2699.931587   8.642857   3.0  18.888889      1.0           0.0   0.0
1527  2293.931587   7.642857   7.0  19.888889      1.0           0.0   1.0
1169  2864.931587  10.642857   6.0   8.888889      1.0           1.0   1.0
366   2615.931587  17.642857   8.0   9.888889      1.0           1.0   1.0

[400 rows x 20 columns]
40      2
1783    0
1477    0
1612    3
1970    2
       ..
784     2
561     1
139     0
1555    0
435     0
Name: price_range, Length: 1600, dtype: int64
565     0
253     0
1887    2
1566    0
346     2
       ..
927     2
1607    2
1527    3
1169    2
366     2
Name: price_range, Length: 400, dtype: int64

In [4]:
#question2
import pandas as pd
df = pd.read_csv("/content/sample_data/california_housing_train.csv")
print(df)
#1
print(df.describe())
#2
print(df.dtypes)
print(df.shape)

       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income  median_house_value
0          1015.0       472.0         1.4936             66900.0
1          1129.0       463.0         1.8200             80100.0
2           333.0       117.0         1.6509             85700.0
3           515.0       226.0         3.1917             73400.0
4           624.0       262.0         1.9250             65500.0
...           ...         ...            ...                 ...
16995       907.0       369.0         2.3571            111400.0
16996      1194.0       465.0         2.5179             79000.0
16997      1244.0       456.0         3.0313            103600.0
16998      1298.0       478.0         1.9797             85800.0
16999       806.0       270.0         3.0147             94600.0

[17000 rows x 9 columns]
          longitude      latitude  housing_median_age   total_rooms  \
count  17000.000000  17000.000000        17000.000000  17000.000000
mean    -119.562108     35.625225           28.589353   2643.664412
std        2.005166      2.137340           12.586937   2179.947071
min     -124.350000     32.540000            1.000000      2.000000
25%     -121.790000     33.930000           18.000000   1462.000000
50%     -118.490000     34.250000           29.000000   2127.000000
75%     -118.000000     37.720000           37.000000   3151.250000
max     -114.310000     41.950000           52.000000  37937.000000

       total_bedrooms    population    households  median_income  \
count    17000.000000  17000.000000  17000.000000   17000.000000
mean       539.410824   1429.573941    501.221941       3.883578
std        421.499452   1147.852959    384.520841       1.908157
min          1.000000      3.000000      1.000000       0.499900
25%        297.000000    790.000000    282.000000       2.566375
50%        434.000000   1167.000000    409.000000       3.544600
75%        648.250000   1721.000000    605.250000       4.767000
max       6445.000000  35682.000000   6082.000000      15.000100

       median_house_value
count        17000.000000
mean        207300.912353
std         115983.764387
min          14999.000000
25%         119400.000000
50%         180400.000000
75%         265000.000000
max         500001.000000
longitude             float64
latitude              float64
housing_median_age    float64
total_rooms           float64
total_bedrooms        float64
population            float64
households            float64
median_income         float64
median_house_value    float64
dtype: object
(17000, 9)

In [5]:
#3
#TARGET
y = df['median_house_value']
print(y)
#FEATURES
x=df.drop('median_house_value',axis=1)
print(x)

0         66900.0
1         80100.0
2         85700.0
3         73400.0
4         65500.0
           ...
16995    111400.0
16996     79000.0
16997    103600.0
16998     85800.0
16999     94600.0
Name: median_house_value, Length: 17000, dtype: float64
       longitude  latitude  housing_median_age  total_rooms  total_bedrooms  \
0        -114.31     34.19                15.0       5612.0          1283.0
1        -114.47     34.40                19.0       7650.0          1901.0
2        -114.56     33.69                17.0        720.0           174.0
3        -114.57     33.64                14.0       1501.0           337.0
4        -114.57     33.57                20.0       1454.0           326.0
...          ...       ...                 ...          ...             ...
16995    -124.26     40.58                52.0       2217.0           394.0
16996    -124.27     40.69                36.0       2349.0           528.0
16997    -124.30     41.84                17.0       2677.0           531.0
16998    -124.30     41.80                19.0       2672.0           552.0
16999    -124.35     40.54                52.0       1820.0           300.0

       population  households  median_income
0          1015.0       472.0         1.4936
1          1129.0       463.0         1.8200
2           333.0       117.0         1.6509
3           515.0       226.0         3.1917
4           624.0       262.0         1.9250
...           ...         ...            ...
16995       907.0       369.0         2.3571
16996      1194.0       465.0         2.5179
16997      1244.0       456.0         3.0313
16998      1298.0       478.0         1.9797
16999       806.0       270.0         3.0147

[17000 rows x 8 columns]

In [6]:
#4
null=df.isnull()
null

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...
16995,False,False,False,False,False,False,False,False,False
16996,False,False,False,False,False,False,False,False,False
16997,False,False,False,False,False,False,False,False,False
16998,False,False,False,False,False,False,False,False,False
16999,False,False,False,False,False,False,False,False,False

In [7]:
#5
normalised=df-x.min()/x.max()-x.min()
normalised

,households,housing_median_age,latitude,longitude,median_house_value,median_income,population,total_bedrooms,total_rooms
0,470.999836,13.980769,0.874315,8.952169,NaN,0.960374,1011.999916,1281.999845,5609.999947
1,461.999836,17.980769,1.084315,8.792169,NaN,1.286774,1125.999916,1899.999845,7647.999947
2,115.999836,15.980769,0.374315,8.702169,NaN,1.117674,329.999916,172.999845,717.999947
3,224.999836,12.980769,0.324315,8.692169,NaN,2.658474,511.999916,335.999845,1498.999947
4,260.999836,18.980769,0.254315,8.692169,NaN,1.391774,620.999916,324.999845,1451.999947
...,...,...,...,...,...,...,...,...,...
16995,367.999836,50.980769,7.264315,-0.997831,NaN,1.823874,903.999916,392.999845,2214.999947
16996,463.999836,34.980769,7.374315,-1.007831,NaN,1.984674,1190.999916,526.999845,2346.999947
16997,454.999836,15.980769,8.524315,-1.037831,NaN,2.498074,1240.999916,529.999845,2674.999947
16998,476.999836,17.980769,8.484315,-1.037831,NaN,1.446474,1294.999916,550.999845,2669.999947
16999,268.999836,50.980769,7.224315,-1.087831,NaN,2.481474,802.999916,298.999845,1817.999947

In [8]:
#6
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(normalised,y,test_size=0.2,random_state=30)
print(x_train)
print(x_test)
print(y_train)
print(y_test)

        households  housing_median_age  latitude  longitude  \
7303    295.999836           46.980769  0.674315   4.922169
12831   408.999836           17.980769  3.914315   1.452169
13976   240.999836           27.980769  4.354315   1.222169
3268    550.999836           28.980769  0.414315   5.402169
7206    171.999836           45.980769  0.684315   4.932169
...            ...                 ...       ...        ...
500    1289.999836           18.980769 -0.485685   6.272169
12077   169.999836           34.980769  5.864315   1.832169
15277   216.999836           50.980769  4.564315   0.982169
4517    295.999836           14.980769  0.444315   5.222169
5925   1104.999836           45.980769  0.784315   5.052169

       median_house_value  median_income   population  total_bedrooms  \
7303                  NaN       4.279274   915.999916      333.999845
12831                 NaN       5.784574  1493.999916      425.999845
13976                 NaN       5.516874   686.999916      249.999845
3268                  NaN       3.186974  3245.999916      570.999845
7206                  NaN       1.800074   412.999916      185.999845
...                   ...            ...          ...             ...
500                   NaN       2.664674  3683.999916     1324.999845
12077                 NaN       1.633474   500.999916      182.999845
15277                 NaN       3.383474   485.999916      213.999845
4517                  NaN       6.554674   874.999916      261.999845
5925                  NaN       2.504474  3344.999916     1269.999845

       total_rooms
7303   2006.999947
12831  2632.999947
13976  1691.999947
3268   2648.999947
7206    822.999947
...            ...
500    6693.999947
12077  1121.999947
15277  1169.999947
4517   2067.999947
5925   5074.999947

[13600 rows x 9 columns]
       households  housing_median_age  latitude  longitude  \
10914  631.999836            3.980769  4.194315   2.412169
6241   368.999836           35.980769  0.914315   5.012169
5904   604.999836           45.980769  0.474315   5.062169
9578   590.999836           37.980769  3.204315   3.912169
9444   201.999836           32.980769  0.984315   4.012169
...           ...                 ...       ...        ...
12228  242.999836           50.980769  5.234315   1.792169
6639   160.999836           39.980769  0.594315   4.982169
7850   708.999836            8.980769  1.384315   4.862169
4886   296.999836           40.980769  0.694315   5.162169
3618   201.999836           25.980769  0.294315   5.352169

       median_house_value  median_income   population  total_bedrooms  \
10914                 NaN       1.695974  1589.999916      743.999845
6241                  NaN       4.552974   963.999916      366.999845
5904                  NaN       2.480274  1384.999916      624.999845
9578                  NaN       2.111274  2195.999916      606.999845
9444                  NaN       4.349174   441.999916      218.999845
...                   ...            ...          ...             ...
12228                 NaN       1.490974   557.999916      293.999845
6639                  NaN       2.121374   638.999916      131.999845
7850                  NaN       3.760874  2160.999916      812.999845
4886                  NaN       2.896474  1001.999916      296.999845
3618                  NaN       5.386374   431.999916      341.999845

       total_rooms
10914  2896.999947
6241   1951.999947
5904   2546.999947
9578   3024.999947
9444   1186.999947
...            ...
12228  1381.999947
6639    617.999947
7850   4119.999947
4886   1433.999947
3618   1794.999947

[3400 rows x 9 columns]
7303     170500.0
12831    248000.0
13976    254200.0
3268     182100.0
7206     133300.0
           ...
500      154600.0
12077     93800.0
15277    235600.0
4517     338800.0
5925     186800.0
Name: median_house_value, Length: 13600, dtype: float64
10914    127500.0
6241     261300.0
5904     192700.0
9578      62000.0
9444     396400.0
           ...
12228     94600.0
6639     159600.0
7850     151600.0
4886     195800.0
3618     500001.0
Name: median_house_value, Length: 3400, dtype: float64